-----BEGIN CERTIFICATE-----
MIIE8zCCA9ugAwIBAgISBv5yYiYNoX3CzCAPBGYg/Q4GMA0GCSqGSIb3DQEBCwUA
MDMxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQwwCgYDVQQD
EwNSMTEwHhcNMjUwNzI0MDgxNTQxWhcNMjUxMDIyMDgxNTQwWjAXMRUwEwYDVQQD
DAwqLm0yc2Fhcy5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDd
LA26nCkXa8rq+YhzZyGMxmbp1W9Nw/jllESaQ8ZRbZNhFlEXEKVmIT0nwZItUmea
LXqCIbfX0nx/xL27hsWW7q9+hBESDeefxZssOkfq8sPbohyYL5mAh1phtcuHXGKY
uwd0z5PVUM7r9VaLwoPMm07DBHZ5CWlaJBJeXcg0D1+apgKVZ4i9ZjgHNcQr7rjr
pdcuQtMBOciCwfNrYeZ1YKMgQTcyfk2LMAazfWpsr4BWUNpGx58z4+63Ap7DYVQd
A8mVZDRVTWj6CF39AdEzf634VHjRceovrTyO5Csob6i6oTK3USfhcqwIiKmDitMi
34J3QN1PD4E5WItVO9qhAgMBAAGjggIbMIICFzAOBgNVHQ8BAf8EBAMCBaAwHQYD
VR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAwGA1UdEwEB/wQCMAAwHQYDVR0O
BBYEFC3+wtk2u3VSSkNgtNgpUAvu4a4oMB8GA1UdIwQYMBaAFMXPRqTq9MPAemyV
xC2wXpIvJuO5MDMGCCsGAQUFBwEBBCcwJTAjBggrBgEFBQcwAoYXaHR0cDovL3Ix
MS5pLmxlbmNyLm9yZy8wFwYDVR0RBBAwDoIMKi5tMnNhYXMuY29tMBMGA1UdIAQM
MAowCAYGZ4EMAQIBMC0GA1UdHwQmMCQwIqAgoB6GHGh0dHA6Ly9yMTEuYy5sZW5j
ci5vcmcvNy5jcmwwggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgDtPEvW6AbCpKIA
V9vLJOI4Ad9RL+3EhsVwDyDdtz4/4AAAAZg7ti2xAAAEAwBHMEUCIQD9p7StZEGq
hTEU1fnyZ9B3qNLHI7G9V50k09glVDvLeAIgFrgQmLxWe5ceVuymx0+AUCwA1X41
B3zajKD5n1ODuIEAdgAN4fIwK9MNwUBiEgnqVS78R3R8sdfpMO8OQh60fk6qNAAA
AZg7tjVkAAAEAwBHMEUCIQCvuArljvL/NK3G+Uak/dG1m3Xq1aXUFAke/aWOMEbW
oAIgAVpe462+LkYS9KdQut4jsPePRystvQw52rikKqoDtZowDQYJKoZIhvcNAQEL
BQADggEBACb29v9nq5gY8JmixR97vu6PBJ4LWJXcXEChjlWxgKO+JhoGhwO8uetc
Wi7+yYExCqsyLsGvS57kIoWZd7DDtsjyZSJaB9RMZ79KeKariATKK1oXPpGPvxX6
3zUk2nYFZAjDM8OW4XYhBQhHNSi+ASyJQ4/IJMk5X4iyO1cR3KJkQvAEPYSvfBr6
oNLm3SGF2ZOjWh85cFXmCXzWIeWmORbNhvIvfLkpumnOlZWaaxnNTEtasmBYxXig
KxZPYxRxg6Edf/jd/tyNOUA7hEoziPaYwhecAG4elD2at2NTR+AvH4cFQewKQpQF
9qq9x9y6LAkrCsOXQ5m2Uql7NMhxyeE=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIFBjCCAu6gAwIBAgIRAIp9PhPWLzDvI4a9KQdrNPgwDQYJKoZIhvcNAQELBQAw
TzELMAkGA1UEBhMCVVMxKTAnBgNVBAoTIEludGVybmV0IFNlY3VyaXR5IFJlc2Vh
cmNoIEdyb3VwMRUwEwYDVQQDEwxJU1JHIFJvb3QgWDEwHhcNMjQwMzEzMDAwMDAw
WhcNMjcwMzEyMjM1OTU5WjAzMQswCQYDVQQGEwJVUzEWMBQGA1UEChMNTGV0J3Mg
RW5jcnlwdDEMMAoGA1UEAxMDUjExMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEAuoe8XBsAOcvKCs3UZxD5ATylTqVhyybKUvsVAbe5KPUoHu0nsyQYOWcJ
DAjs4DqwO3cOvfPlOVRBDE6uQdaZdN5R2+97/1i9qLcT9t4x1fJyyXJqC4N0lZxG
AGQUmfOx2SLZzaiSqhwmej/+71gFewiVgdtxD4774zEJuwm+UE1fj5F2PVqdnoPy
6cRms+EGZkNIGIBloDcYmpuEMpexsr3E+BUAnSeI++JjF5ZsmydnS8TbKF5pwnnw
SVzgJFDhxLyhBax7QG0AtMJBP6dYuC/FXJuluwme8f7rsIU5/agK70XEeOtlKsLP
Xzze41xNG/cLJyuqC0J3U095ah2H2QIDAQABo4H4MIH1MA4GA1UdDwEB/wQEAwIB
hjAdBgNVHSUEFjAUBggrBgEFBQcDAgYIKwYBBQUHAwEwEgYDVR0TAQH/BAgwBgEB
/wIBADAdBgNVHQ4EFgQUxc9GpOr0w8B6bJXELbBeki8m47kwHwYDVR0jBBgwFoAU
ebRZ5nu25eQBc4AIiMgaWPbpm24wMgYIKwYBBQUHAQEEJjAkMCIGCCsGAQUFBzAC
hhZodHRwOi8veDEuaS5sZW5jci5vcmcvMBMGA1UdIAQMMAowCAYGZ4EMAQIBMCcG
A1UdHwQgMB4wHKAaoBiGFmh0dHA6Ly94MS5jLmxlbmNyLm9yZy8wDQYJKoZIhvcN
AQELBQADggIBAE7iiV0KAxyQOND1H/lxXPjDj7I3iHpvsCUf7b632IYGjukJhM1y
v4Hz/MrPU0jtvfZpQtSlET41yBOykh0FX+ou1Nj4ScOt9ZmWnO8m2OG0JAtIIE38
01S0qcYhyOE2G/93ZCkXufBL713qzXnQv5C/viOykNpKqUgxdKlEC+Hi9i2DcaR1
e9KUwQUZRhy5j/PEdEglKg3l9dtD4tuTm7kZtB8v32oOjzHTYw+7KdzdZiw/sBtn
UfhBPORNuay4pJxmY/WrhSMdzFO2q3Gu3MUBcdo27goYKjL9CTF8j/Zz55yctUoV
aneCWs/ajUX+HypkBTA+c8LGDLnWO2NKq0YD/pnARkAnYGPfUDoHR9gVSp/qRx+Z
WghiDLZsMwhN1zjtSC0uBWiugF3vTNzYIEFfaPG7Ws3jDrAMMYebQ95JQ+HIBD/R
PBuHRTBpqKlyDnkSHDHYPiNX3adPoPAcgdF3H2/W0rmoswMWgTlLn1Wu0mrks7/q
pdWfS6PJ1jty80r2VKsM/Dj3YIDfbjXKdaFU5C+8bhfJGqU3taKauuz0wHVGT3eo
6FlWkWYtbt4pgdamlwVeZEW+LM7qZEJEsMNPrfC03APKmZsJgpWCDWOKZvkZcvjV
uYkQ4omYCTX5ohy+knMjdOmdH9c7SpqEWBDC86fiNex+O0XOMEZSa8DA
-----END CERTIFICATE-----