-----BEGIN CERTIFICATE-----
MIIGPzCCBSegAwIBAgIRAMPoCKAqRh6O0KblDJZsM70wDQYJKoZIhvcNAQELBQAw
gY8xCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
BgNVBAcTB1NhbGZvcmQxGDAWBgNVBAoTD1NlY3RpZ28gTGltaXRlZDE3MDUGA1UE
AxMuU2VjdGlnbyBSU0EgRG9tYWluIFZhbGlkYXRpb24gU2VjdXJlIFNlcnZlciBD
QTAeFw0yNTA0MTIwMDAwMDBaFw0yNjA1MTMyMzU5NTlaMB0xGzAZBgNVBAMMEiou
dWR2YXNodW5tZXNoLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AKdlcZg7oXK0aZThlLpAqcJKOmt0mAc99u2uiy3W73N/b61JZFISU5Dt2u9yWHWr
LjBzuyA+36kuq4qI9OgkZWMezF+vIdMBe54+cKiLPtb4KROHQvIyc6unVVkxG2uu
8LlddXx/3WzeG+FXrdlg40hhz+kq8BCuG1/Hxv4MD6A1j+DYbzwtmqToCSHHm4bf
QE51bYzqGFs8eGLFpbzgPJNX8Tz306hv5LD6VjRDAVEA43PvP61cbHEapkUSAntE
7dFRnDq9b3267B9s77M+in1+oIFF1d2IVBh0DbfH7qMj79AOe4Tt3+5UaYet0qwL
uQtwpY6+2zRu+kxsKT3eVUUCAwEAAaOCAwUwggMBMB8GA1UdIwQYMBaAFI2MXsRU
rYrhd+mb+ZsF4bgBjWHhMB0GA1UdDgQWBBTDXJcWmXbCcDvJMTUXRLRhvjBxUTAO
BgNVHQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcD
AQYIKwYBBQUHAwIwSQYDVR0gBEIwQDA0BgsrBgEEAbIxAQICBzAlMCMGCCsGAQUF
BwIBFhdodHRwczovL3NlY3RpZ28uY29tL0NQUzAIBgZngQwBAgEwgYQGCCsGAQUF
BwEBBHgwdjBPBggrBgEFBQcwAoZDaHR0cDovL2NydC5zZWN0aWdvLmNvbS9TZWN0
aWdvUlNBRG9tYWluVmFsaWRhdGlvblNlY3VyZVNlcnZlckNBLmNydDAjBggrBgEF
BQcwAYYXaHR0cDovL29jc3Auc2VjdGlnby5jb20wLwYDVR0RBCgwJoISKi51ZHZh
c2h1bm1lc2guY29tghB1ZHZhc2h1bm1lc2guY29tMIIBfQYKKwYBBAHWeQIEAgSC
AW0EggFpAWcAdgCWl2S/VViXrfdDh2g3CEJ36fA61fak8zZuRqQ/D8qpxgAAAZYo
iY0yAAAEAwBHMEUCIH5TnN75RMHus1c0cGixSmaMBm8EOZwlzpdSzFKTOD7OAiEA
izVl59ZQ0BQq0X0MRvsbYNTo2OITEufqI/GCQD3y4rIAdQAZhtTHKKpv/roDb3gq
TQGRqs4tcjEPrs5dcEEtJUzH1AAAAZYoiYzWAAAEAwBGMEQCIBPK3G7MVzO+k1cJ
xYRV+42XPPvGgXkF/Ms4CEx0xttlAiAoZ5RF3cK9ttUIL2C1gtXQwWDpEM3xzYgP
3mlDbNdR0QB2AA5XlLzzrqk+MxssmQez95Dfm8I9cTIl3SGpJaxhxU4hAAABliiJ
jNcAAAQDAEcwRQIhAJjEon9r4aEJFBQz3ThPQvdu9XVpCzWOro9XLMxSD+n/AiAr
DvWZx3G4godr+omJCQHG6d0lnpqEw47bm3xsG9MX9DANBgkqhkiG9w0BAQsFAAOC
AQEAIWpF5TFx15S7q34vYE0uQ3EtYLMp4htm3D5rBJyNfBku7Yh5QgxVTbKEtERH
MAhGTZf7WCkaxgREduuKSFknPs4jqNBQeXfuB2yD0iCKj1NNQMpz2Yvys9yVl02h
9TokQGUdvltIipkiXTKWoak8oRiNxokaNeb9C7uhF0qAKB2xYyVK4jMUnNE0vLtS
WkNkHjPVHJ5+kPie24MrRkWjmUyvfv4H0bZQJLKvB2al8W0QNGgIashyGV7KLT75
S+Rn2I5Jq/fRPDj0dEBHc44igJ3TeL3mRvu7VdPaPqbS5ZYdWZuV31SfWHs8F0cr
eTKK0mXCEvG+5Ekka98tkSAMkg==
-----END CERTIFICATE-----